[build]
publish = "public"
command = "hugo --gc --minify --buildFuture -b $URL"

[context.production.environment]
HUGO_VERSION = "0.60.1"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.branch-beta]
command = "hugo --gc -b $DEPLOY_BETA_URL"