{{ define "main" }}
<h2>{{ .Title }}</h2>
<div class="event-info">
    <div>
        <span>Date :</span>
        {{ if ge .Date now }}
        <span class="event-information">{{ partial "datetimeformated.html" . }}</span>
        {{ else }}
        {{ $eventTime :=  .Date.Format "15h04" }}
        <span title="Heure: {{ $eventTime }}" class="event-information">{{ partial "datefull.html" . }}</span>
        {{ end }}
    </div>
    <!--
    {{ if ge .Date now }}
    <div>
            <span>Heure :</span><span class="event-information">{{ .Date.Format "15h04" }}</span>
    </div>
    {{ end }}
    -->
    <div>
        <span>Lieu :</span>
        {{ if isset .Params "place" }}
        <span class="event-information">
            {{ $eventPlace := urlize .Params.place }}
            {{ .Scratch.Set "placeFound" "" }}
            {{ range where .Site.Pages "Section" "place" }}
            {{ range .Pages }}
            {{ if eq $eventPlace (urlize .Title) }}
            {{ $.Scratch.Set "placeFound" .Permalink }}
            {{ end }}
            {{ end }}
            {{ end }}
            {{ if ne (.Scratch.Get "placeFound") "" }}
            <a href="{{ .Scratch.Get "placeFound" }}">{{ .Params.place }}</a>
            {{ else }}
            {{ .Params.place }}
            {{ end }}
        </span>
        {{ else }}
        <span class="event-information undefined">
            non défini
        </span>
        {{ end }}
    </div>
    {{ if ge .Date now }}
    {{ if isset .Params "eventbrite" }}
    <div class="susbcribe open">
        {{ $link := (print "https://www.eventbrite.fr/e/" .Params.eventbrite ) }}
        <!--a href="{{ $link }}" target="_blank">Inscrivez-vous</a-->
        <div class="button" onclick="window.open('{{ $link }}', '_blank');">Inscrivez-vous</div>
    </div>
    {{else}}
    <div>
        <span>Inscription : </span>
        <span class="event-information undefined">
            non ouverte
        </span>
    </div>
    {{ end }}
    {{ end }}
</div>


<h5 class="event-title">Détails</h5>
<div class="event">
    {{ .Content }}
</div>


{{ if isset .Params "speakers" }}
{{ $a := slice "" }}
{{ range where .Site.Pages "Section" "speaker" }}
{{ range .Pages }}
{{ $a = $a | append (slice .Title) }}
{{ end }}
{{ end }}
{{ if not .Params.hideSpeaker }}
<div>
    <span>
        <span class="speaker-title">Intervenant{{ if gt (len .Params.speakers) 1  }}s{{ end }} :</span>
        <span class="speaker-list">{{ range .Params.speakers }}<span>{{ if in $a . }}{{ $speakerPath := print "speaker/" (urlize .) | absURL }}<a
                    href="{{ $speakerPath }}">{{- . -}}</a>{{ else }}{{- . -}}{{ end }}</span>{{ end }}</span>
    </span>
</div>
{{ end }}
{{ end }}

{{ if and (ge .Date now) (isset .Params "after") }}
{{ $after := newScratch }}
{{ $after.Set "id" .Params.after }}
{{ range where .Site.Pages "Section" "after" }}
{{ range .Pages }}
{{ if eq ($after.Get "id") .Title }}
<div>
    <h5 class="event-title">
        {{ if isset .Params "aftertitle" }}
        {{ .Params.afterTitle }}
        {{ else }}
        After
        {{ end }}
    </h5>
    {{ .Content }}
</div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ partial "eventsponsors.html" . }}

{{ if .Params.docs }}
{{ $permalink := .Permalink }}
<h5 class="event-title">Visualisez les documents de l'évenement</h5>
<ul class="document">
    {{ range .Params.docs }}
    <li>
        {{ if (hasPrefix (index . 1) "http") }}
        <img src="/images/css/open_in_browser-24px.svg">
        {{ else }}
        <img src="/images/css/file_copy-24px.svg">
        {{ end }}
        <a href="{{ if not (hasPrefix (index . 1) "http") }}{{ $permalink }}{{ end }}{{ index . 1 }}">
            {{ index . 0 }}
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ if .Params.youtube }}
<h5 class="event-title">La vidéo</h5>
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/{{ .Params.youtube }}?autoplay=1"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen
        title="YouTube Video"></iframe>
</div>
{{ end }}

{{ end }}