
@color-primary-0: #769FCD;	/* Main Primary color */
@color-primary-1: #D5E5F7;
@color-primary-2: #A4C3E5;
@color-primary-3: #507DB0;
@color-primary-4: #346398;

@color-secondary-1-0: #877FD3;	/* Main Secondary color (1) */
@color-secondary-1-1: #DBD8F8;
@color-secondary-1-2: #B0AAE8;
@color-secondary-1-3: #635AB9;
@color-secondary-1-4: #473EA2;

@color-secondary-2-0: #FFE589;	/* Main Secondary color (2) */
@color-secondary-2-1: #FFF7D9;
@color-secondary-2-2: #FFEDB0;
@color-secondary-2-3: #FFDD68;
@color-secondary-2-4: #E8C342;

@color-complement-0: #FFD189;	/* Main Complement color */
@color-complement-1: #FFF0D9;
@color-complement-2: #FFE0B0;
@color-complement-3: #FFC368;
@color-complement-4: #E8A742;



/* As RGBa codes */

@rgba-primary-0: rgba(118,159,205,1);	/* Main Primary color */
@rgba-primary-1: rgba(213,229,247,1);
@rgba-primary-2: rgba(164,195,229,1);
@rgba-primary-3: rgba( 80,125,176,1);
@rgba-primary-4: rgba( 52, 99,152,1);

@rgba-secondary-1-0: rgba(135,127,211,1);	/* Main Secondary color (1) */
@rgba-secondary-1-1: rgba(219,216,248,1);
@rgba-secondary-1-2: rgba(176,170,232,1);
@rgba-secondary-1-3: rgba( 99, 90,185,1);
@rgba-secondary-1-4: rgba( 71, 62,162,1);

@rgba-secondary-2-0: rgba(255,229,137,1);	/* Main Secondary color (2) */
@rgba-secondary-2-1: rgba(255,247,217,1);
@rgba-secondary-2-2: rgba(255,237,176,1);
@rgba-secondary-2-3: rgba(255,221,104,1);
@rgba-secondary-2-4: rgba(232,195, 66,1);

@rgba-complement-0: rgba(255,209,137,1);	/* Main Complement color */
@rgba-complement-1: rgba(255,240,217,1);
@rgba-complement-2: rgba(255,224,176,1);
@rgba-complement-3: rgba(255,195,104,1);
@rgba-complement-4: rgba(232,167, 66,1);
