{{ define "main" }}

<h2>
    {{ with .Site.Params.blogTitle }}
    {{ . }}
    {{ else }}
    Blog
    {{ end }}
</h2>

<div class="next-event">
    {{ range .Pages.GroupByDate "2006" }}
    <div>
        <h3 class="event-title year">{{ .Key }}</h3>
        {{ range .Pages }}
        <div class="event follow" onclick="location = '{{ .RelPermalink }}'">
            <div class="title no-margin">
                {{ partial "event-title-text.html" . }}
            </div>
            {{ if .Description }}
            <div class="event-speakers">
                {{ .Description }}
            </div>
            {{ end }}

        </div>
        {{ end }}
    </div>
    {{ end }}
</div>


{{ end }}