{{ define "main" }}
<h2>{{ .Title }}</h2>
<div class="post-information">
    {{ if .Params.author }}
    <span>{{ .Params.author }}</span>
        <span>-</span>
        {{ end }}
        <span>{{ partial "datemonthyear.html" . }}</span>
    <!--
    <span>-</span>
    <span>{{ if lt 1 .WordCount }}{{ .WordCount }} mots{{ else }}{{ .WordCount }} mot{{ end }}</span>
    -->
    <span>-</span>
    <span>{{ if le 1 .ReadingTime }}{{ .ReadingTime }} minute de lecture{{ else }}{{ .ReadingTime }} minutes de lecture{{ end }}</span>
</div>
<div class="post-content">
{{ .Content }}
</div>
{{ end }}

