<!DOCTYPE html>
<html lang="fr">
{{ partial "head.html" . }}

<body>

    <div id="container">
        {{ partial "header.html" . }}
        <main>
            <div id="content">
                {{ block "main" . }}
                {{ end }}
            </div>
            <aside class="aside left">
                <div>
                    {{ partial "aside_left.html" . }}
                </div>
                <div>
                    {{ block "left" . }}
                    {{ end }}
                </div>
            </aside>
            <aside class="aside right">
                {{ partial "aside_right.html" . }}
            </aside>
        </main>
        {{ partial "footer.html" }}
    </div>
    {{ partial "js.html" . }}
</body>

</html>